<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.deva.android.countainersales">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/product2_90"
        android:label="@string/app_name"
        android:roundIcon="@drawable/product2_90"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:theme="@style/AppThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".autentikasi.LoginActivity"
            android:theme="@style/AppThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".autentikasi.SignUpActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".autentikasi.InputProfileActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".ui.OrderConfirmationActivity"
            android:configChanges="orientation"
            android:label="Order Confirmation"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>
        <activity android:name=".ui.PdfCreatorActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.UploadImageActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/DialogStyle" />
        <activity
            android:name=".ui.EditAccountActivity"
            android:label="Edit Account"
            android:theme="@style/DialogAppTheme" />
        <activity
            android:name=".admin.AdminActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity android:name=".admin.BuyerDetailActivity" />
    </application>

</manifest>